node_modules/
dist/
.env
coverage/
*.log
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform/terraform.tfvars
terraform/backend.tf
crash.log

__pycache__/

.env.compute

terraform/*.auto.tfvars.json
